<nav #navbar class="w-70 h-[15vh] flex flex-row items-center justify-center mx-auto font-inter text-lg text-white/[0.85] gap-40 break-keep">
    <a class="relative after:absolute after:content-[''] after:w-full after:h-[2px] after:scale-x-0 after:bg-white after:bottom-[-3px] after:left-[0px]
              after:origin-left after:transition-transform after:ease-in after:delay-25 after:duration-200 hover:after:scale-x-100 focus:after:scale-x-100 focus:outline-0"
       routerLink="/">
        <span [class]="(this.section  == '/') ? 'font-semibold' : 'font-extralight'"
              class="whitespace-nowrap">Sobre mí</span>
    </a>

    <a class="relative after:absolute after:content-[''] after:w-full after:h-[2px] after:scale-x-0 after:bg-white after:bottom-[-3px] after:left-[0px]
              after:origin-left after:transition-transform after:ease-in after:delay-25 after:duration-200 hover:after:scale-x-100 focus:after:scale-x-100 focus:outline-0"
       routerLink="/proyectos">
        <span [class]="(this.section == 'proyectos') ? 'font-semibold' : 'font-extralight'"
              class="">Proyectos</span>
    </a>

    <a class="relative after:absolute after:content-[''] after:w-full after:h-[2px] after:scale-x-0 after:bg-white after:bottom-[-3px] after:left-[0px]
              after:origin-left after:transition-transform after:ease-in after:delay-25 after:duration-200 hover:after:scale-x-100 focus:after:scale-x-100 focus:outline-0"
       routerLink="/blog">
        <span [class]="(this.section == 'blog') ? 'font-semibold' : 'font-extralight'"
              class="">Blog</span>
    </a>

    <a class="relative after:absolute after:content-[''] after:w-full after:h-[2px] after:scale-x-0 after:bg-white after:bottom-[-3px] after:left-[0px]
              after:origin-left after:transition-transform after:ease-in after:delay-25 after:duration-200 hover:after:scale-x-100 focus:after:scale-x-100 focus:outline-0"
       routerLink="/contacto">
        <span [class]="(this.section == 'contacto') ? 'font-semibold' : 'font-extralight'"
              class="">Contacto</span>
    </a>
</nav>
