<div class="w-full min-h-screen absolute top-0 left-0 flex flex-col
            bg-[radial-gradient(circle_at_center,rgba(0,0,0,0.15)_0,rgba(0,0,0,0.30),rgba(0,0,0,0.45)_100%),url(/about-me/background.png)]
            bg-cover 2xl:bg-position-[center_top_1500px] xl:bg-position-[center_top_1100px]
            lg:bg-position-[center_top_800px] md:bg-position-[center_top_650px] snap-y snap-mandatory overflow-hidden">
    <app-navbar></app-navbar>
    <!-- Estrellas paralaje -->
    <!-- shorthand for shadow-[var(<custom-property>)] -->
    <div class="h-[1px] w-[1px] bg-transparent animate-star-fast shadow-(--small-shadows) pointer-events-none absolute overflow-hidden"></div>

    <div class="h-[1px] w-[1px] bg-transparent animate-star-fast shadow-(--small-shadows) pointer-events-none absolute overflow-hidden top-[2000px]"></div>

    <div class="h-[2px] w-[2px] bg-transparent animate-star-mid shadow-(--medium-shadows) pointer-events-none absolute overflow-hidden"></div>
    <div class="h-[2px] w-[2px] bg-transparent animate-star-mid shadow-(--medium-shadows) pointer-events-none absolute overflow-hidden top-[2000px]"></div>

    <div class="h-[3px] w-[3px] bg-transparent animate-star-slow shadow-(--big-shadows) pointer-events-none absolute overflow-hidden"></div>
    <div class="h-[3px] w-[3px] bg-transparent animate-star-slow shadow-(--big-shadows) pointer-events-none absolute overflow-hidden top-[2000px]"></div>

    <!-- Hero Section, este comentario no lo ha puesto una IA 😎-->
    <div class="grid mt-18 snap-start snap-always
            2.5xl:grid-cols-[0.35fr_0.3fr_0.25fr] 2xl:grid-cols-[0.47fr_0.3fr_0.25fr]
            xl:grid-cols-[0.4fr_0.2fr_0.4fr] lg:grid-cols-[0.35fr_0.15fr_0.55fr]
            md:grid-cols-[0.35fr_0.15fr_0.55fr]">

        <div class="w-full h-full flex flex-row col-start-1">
            <!-- Imagen de perfil -->
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Chimpanzee-Head.jpg/330px-Chimpanzee-Head.jpg"
                class="bg-white w-[150px] h-[150px] rounded-[20cm] ml-auto object-cover drop-shadow-[1px_2px_4px_rgba(13,15,35,0.4),2px_4px_8px_rgba(13,15,35,0.4),4px_8px_16px_rgba(13,15,35,0.7)]"
                alt="foto de perfil">
        </div>

        <!-- Bloque de texto -->
        <div class="flex flex-col items-start content-center w-full h-150 col-start-2 ml-27">
            <span class="font-inter text-white font-medium text-base mb-5 drop-shadow-[1px_2px_4px_rgba(13,15,35,0.5),2px_4px_8px_rgba(13,15,35,0.4),4px_8px_16px_rgba(13,15,35,0.7)]"> Hola, soy Siddharta</span>
            <span class="font-inter text-white text-4xl tracking-wider font-medium mb-10 text-center drop-shadow-[1px_2px_4px_rgba(13,15,35,0.5),2px_4px_8px_rgba(13,15,35,0.4),4px_8px_16px_rgba(13,15,35,0.7)]">
                Soy un <b class="text-purple-650 font-extrabold text-center">Desarrollador<br> Web Full-Stack</b>
            </span>
            <!-- estaba en 330px -->
            <span class="font-roboto-flex text-white text-md font-normal tracking-wider w-[415px] text-center text-lg">
                Disfruto creando <b class="text-yellow-300">soluciones</b> que combinan<br> buen diseño, rendimiento y escalabilidad.<br><br>
                Me encanta la <b class="text-orange-350">optimización de procesos</b>, la <b class="text-orange-350">programación recreativa</b> y el <b class="text-red-700">café</b>.
            </span>
        </div>

        <!-- Decoración de fondo (estan aqui por organización pero tienen posicion absoluta) -->
        <div>
            <img class="absolute animate-floating-mid drop-shadow-[1px_2px_4px_rgba(13,15,35,0.5),2px_4px_8px_rgba(13,15,35,0.5),4px_8px_16px_rgba(13,15,35,0.3),8px_16px_30px_rgba(13,15,35,0.3)]
            2.5xl:left-[calc(12vw+22.5rem)] 2.5xl:top-[calc(12vh+20rem)] 2xl:left-[calc(12vw+12rem)] 2xl:top-[calc(12vh+18rem)]
            xl:left-[calc(10vw+6rem)] xl:top-[calc(14vh+15rem)] lg:left-[calc(8vw+2rem)] lg:top-[calc(8vh+20rem)]
            md:left-[calc(6vw-1rem)] md:top-[calc(6vh+20rem)]" src="/about-me/luna_oscura.svg">

            <img class="absolute animate-floating-slow drop-shadow-[1px_2px_4px_rgba(13,15,35,0.5),2px_4px_8px_rgba(13,15,35,0.5),4px_8px_16px_rgba(13,15,35,0.3),8px_16px_30px_rgba(13,15,35,0.3),16px_32px_32px_rgba(13,15,35,0.3)]
            2.5xl:left-[calc(12vw+24rem)] 2.5xl:top-[calc(6vh+3rem)] 2xl:left-[calc(15.5vw+15.5rem)] 2xl:top-[calc(5vh+3rem)]
            xl:left-[calc(10vw+6rem)] xl:top-[calc(5vh+1.5rem)] lg:left-[calc(3.5vw+7.5rem)] lg:top-[calc(4vh+3rem)]
            md:left-[calc(1vw+7rem)] md:top-[calc(3vh+3.5rem)]" src="/about-me/luna_grande.svg">

            <img class="absolute animate-floating-fast drop-shadow-[1px_2px_4px_rgba(13,15,35,0.5),2px_4px_8px_rgba(13,15,35,0.5),4px_8px_16px_rgba(13,15,35,0.3),8px_16px_30px_rgba(13,15,35,0.3)]
            2.5xl:left-[calc(6.5vw+12rem)] 2.5xl:top-[calc(5vh+3.5rem)] 2xl:left-[calc(5vw+5rem)] 2xl:top-[calc(5vh+2rem)]
            xl:left-[calc(2vw+1rem)] xl:top-[calc(5vh+1.5rem)] lg:left-[calc(2vw+1.5rem)] lg:top-[calc(4vh+1rem)]
            md:left-[calc(1vw)] md:top-[calc(3vh+3.5rem)]" src="/about-me/satelite.svg">

            <img class="animate-floating-slow absolute drop-shadow-[1px_2px_4px_rgba(13,15,35,0.5),2px_4px_8px_rgba(13,15,35,0.5),4px_8px_16px_rgba(13,15,35,0.5),8px_16px_30px_rgba(13,15,35,0.5),16px_32px_32px_rgba(13,15,35,0.5)]
            2.5xl:top-[30rem] 2.5xl:right-[21rem] 2xl:top-[28rem] 2xl:right-[18rem]
            xl:top-[25rem] xl:right-[15rem] lg:top-[22rem] lg:right-[1rem]
            md:top-[18rem] md:right-[-1rem]" src="/about-me/saturno.svg" alt="planeta parecido a saturno"/>

            <img class="animate-floating-mid absolute drop-shadow-[1px_2px_4px_rgba(13,15,35,0.5),2px_4px_8px_rgba(13,15,35,0.5),4px_8px_16px_rgba(13,15,35,0.3),8px_16px_30px_rgba(13,15,35,0.5)]
            2.5xl:top-[10rem] 2.5xl:right-[31rem] 2xl:top-[9rem] 2xl:right-[26rem]
            xl:top-[8rem] xl:right-[22rem] lg:top-[7rem] lg:right-[16rem]
            md:top-[6rem] md:right-[15rem]" src="/about-me/ceres_oscuro.svg" alt="planeta enano"/>

            <img class="animate-floating-fast absolute drop-shadow-[1px_2px_4px_rgba(13,15,35,0.8),2px_4px_8px_rgba(13,15,35,0.6),4px_8px_16px_rgba(13,15,35,0.5),8px_16px_30px_rgba(13,15,35,0.5)]
            2.5xl:top-[16rem] 2.5xl:right-[9rem] 2xl:top-[14rem] 2xl:right-[7rem]
            xl:top-[12rem] xl:right-[6rem] lg:top-[10rem] lg:right-[5rem]
            md:top-[8rem] md:right-[4rem]" src="/about-me/pluton_oscuro.svg" alt="planeta enano parecido a pluton"/>
        </div>
    </div>


    <!-- Sección transparente, para poder poner texto opaco he tenido que usar un elemento absoluto
    y coger las coordenadas donde van los textos mediante elementos invisibles... -->
    <div class="w-full min-h-[450px] mt-45 mb-25 bg-[linear-gradient(135deg,rgba(100,0,255,0.2),rgba(0,200,255,0.15))] snap-always snap-end
                mix-blend-soft-light backdrop-blur-[4px] shadow-[0px_0px_16px_7px_rgba(0,200,255,0.2),0px_0px_20px_2px_rgba(255,255,255,0.2)]
                border-y-10 border-white box-content flex flex-row justify-evenly items-start gap-x-100 z-[0] text-white text-3xl">

        <!-- NOTA: Las guías se ocultan en el JS con display: none.  -->
        <div #motivacionGuia class="flex flex-col gap-y-10 mt-12 w-110 items-start ">
            <h2 class="text-3xl font-extrabold font-roboto-serif tracking-wide"> ¿Qué me motiva? </h2>
            <p class="text-xl/8 font-roboto-flex tracking-wider">  Me gusta crear experiencias que sirven como herramientas y darle vida a las ideas que se me vienen a la cabeza.  </p>
        </div>

        <div #objetivosGuia class="flex flex-col gap-y-10 mt-48 w-100 items-end">
            <h2 class="text-3xl font-extrabold font-roboto-serif"> Hoja de Ruta </h2>
            <p class="text-xl/8 font-roboto-flex tracking-wider text-right">  Seguir creando y aprendiendo todo lo posible, con suerte crear algo que influya en el mundo.  </p>
        </div>


    </div>

    <div #motivacion class="absolute flex flex-col gap-y-10 text-white w-110"
         [ngStyle]="motPos()">
        <h2 class="text-3xl font-bold font-roboto-serif tracking-wide"> ¿Qué me motiva? </h2>
        <p class="text-xl/8 font-roboto-flex tracking-wider"> Me gusta crear <b class="text-yellow-400">experiencias</b> que sirven como herramientas y darle <b class="text-green-400">vida</b> a las <b class="text-red-400">ideas</b> que se me vienen a la <b class="text-orange-500">cabeza</b>. </p>
    </div>

    <div #objetivos class="absolute flex flex-col gap-y-10 text-white w-100 items-end drop-shadow-[1px_2px_4px_rgba(13,15,35,0.5),2px_4px_8px_rgba(13,15,35,0.4),4px_8px_16px_rgba(13,15,35,0.7)]"
        [ngStyle]="objPos()">
        <h2 class="text-3xl font-extrabold font-roboto-serif tracking-wide"> Hoja de Ruta </h2>
        <p class="text-xl/8 font-roboto-flex tracking-wider text-right"> Seguir <b class="text-green-400">creando</b> y <b class="text-yellow-400">aprendiendo</b> todo lo posible, con suerte crear algo que <b class="text-pink-500">influya</b> en el mundo. </p>
    </div>

</div>
