<div class="max-w-screen w-screen min-h-screen flex flex-col items-center bg-linear-to-b from-[#061426] to-[#0B1726]"> <!-- bg-[#1F1F1F] -->
    <app-navbar class="flex flex-row items-center justify-center h-[10vh] w-screen"></app-navbar>

    <div class="grid grid-cols-[0.75fr_0.25fr] w-screen my-10 self-start items-baseline">

        <!-- Toggle (las dimensiones las pongo para que no se estire en el contenedor si no estuviera en un grid no seria necesario)-->
        <form class="relative flex flex-row items-center justify-center outline-1 outline-[#7DF9FF] rounded-[2cm] z-0 text-xs col-start-2 place-self-center h-7.5 w-36.5 mt-1">

        <!-- Por algún extraño motivo las transiciones no las coge tailwind asi que css y palante sorry -->
        <!-- Transiciones en el css porque tailwind no las aplica
            after:transition-[transform_10s_ease-out_1000ms] transition-[left_3000000000ms_ease-out_1000ms]
            Además: after:translate-x-(--slider-end-transform) funciona pero el uso de clases de tailwind con variables por algun motivo
            hace que la transition del translate aun estando aplicada desde css y pudiendose ver en el dev tools no se aplique. por lo que al css tambien
             (Creo que es el problema que tengo en el carrusel, el navegador no detecta un mismo atributo con un cambio de valor en la variable del translateX)
        -->

            <!-- Slider 'knob' element  (its after is a box that makes one of the pill div sides straight and changes with position -->
            <div class="w-18 h-7.5 absolute top- left-0 flex flex-row items-center z-2 rounded-[2cm] bg-[#7DF9FF]
                after:content-[''] after:w-3 after:h-[inherit] after:z-3 after:relative after:bg-[#7DF9FF]
                after:block " [class.left-[74px]]="sliderState()" [class.w-[70px]!]="!sliderState()"> <!-- 70px en el estado inicial, sino ocupa demasiado el primer estado, por algun motivo necesito mas en el segundo (creo que es asimetrico shhh.)  -->
            </div>

            <label class="relative flex items-center justify-center w-18 h-7 font-bolder text-center rounded-[2cm] z-3 transition-[color_0.45s_ease-out_0.1s]"
                [class.text-[#7DF9FF]]="sliderState()" for="radio1">

                <input checked type="radio" id="radio1" name="radioGroup1" (change)="sliderOnChange($event)"
                    class="z-1 w-18 h-7 absolute appearance-none rounded-[2cm]" [ngClass]="(sliderState()) ? 'cursor-pointer' : 'cursor-auto'"/>
                Vertical
            </label>

            <label class="relative flex items-center justify-center w-18 h-7 font-bolder text-center rounded-[2cm] z-3 transition-[color_0.45s_ease-out_0.1s] text-[#7DF9FF]"
                [class.text-[#7DF9FF]]="!sliderState()" for="radio2">

                <input type="radio" id="radio2" name="radioGroup1" (change)="sliderOnChange($event)"
                    class="z-1 w-18 h-7 absolute appearance-none rounded-[2cm]" [ngClass]="(!sliderState()) ? 'cursor-pointer' : 'cursor-auto'"/>
                Horizontal
            </label>
        </form>
    </div>


    <!-- NOTA: la altura de la imagen seleccionada (la del medio) es mayor que las de los lados La anchura un poco tambien mayor pero muy poco -->
    <!-- Carrusel -->
    <div (wheel)="wheelMoveCarrousel($event)" id="carrousel"
         class="w-[92%] h-[70vh] bg-radial-[at_50%_55%] from-white/20 to-[rgba(6,20,38,0.7)] flex flex-row items-center justify-center
                transform-3d rounded-md shadow-[0_0_8px_0_hsla(213_100%_35%/.18),0_0_8px_0_hsla(213_100%_65%/.18)] inset-shadow-[0_0_14px_rgba(0,255,210,0.05)]">
        <!-- <h2 class="text-2xl/6 font-extrabold font-roboto-flex my-6 text-center bg-linear-to-r from-blue-600 to-black bg-clip-text text-transparent tracking-wide invisible"> a </h2> -->
            <img #leftArrow (click)="moveCarrousel(leftArrow)" class="absolute size-8 left-10 cursor-pointer z-100" src="/projects/left-arrow-svgrepo-white.png" alt="flecha para mover el carrousel a la izquierda" id="left"/>
            <img #rightArrow (click)="moveCarrousel(rightArrow)" class="absolute size-8 right-10 cursor-pointer z-100" src="/projects/right-arrow-svgrepo-white.png" alt="flecha para mover el carrousel a la derecha" id="right"/>
            <!-- IMPORTANTE CAMBIALO DESPUES: el color de fondo variara del proyecto por supuesto no van a ser todos del mismo color.-->
            <!-- Para que las transiciones de transform funcionen tienen que hacerse por css normal, ya que el navegador no detecta un cambio de transform: translateX(valortal) a transform: translateX(valorcual)
                 mediante las clases de tailwind. ya que tailwind cambia la variable de dentro del translateX y el navegador ve 'practicamente' el mismo valor. -->
            <div [style.transform]="this.transformStyle()" [style.bottom.rem]="(this.hoverIdx == 0) ? 1.5 : 0" (mouseenter)="this.registerHover($event)" (mouseleave)="this.unlistHover()"
                 [ngClass]="(this.carrouselIdx == 0) ? 'w-1/4 z-2 h-87/100 rounded-2xl outline-2 outline-cyan-600/30' : 'w-1/5 h-74/100 z-1 blur-[2px] rounded-xl outline-3 outline-cyan-600/30'"
                 id="card-0"
                 class="relative drop-shadow-[3px_6px_9px_rgba(26,26,52,0.25),6px_12px_25px_rgba(26,26,52,0.25),12px_24px_36px_rgba(26,26,52,0.25)]
                        backdrop-blur-[4px] backdrop-saturate-120 box-content bg-cover bg-no-repeat bg-center transform-gpu animated-card
                        bg-cyan-500/30 bg-radial-[at_50%_-20%] from-white/20 to-black/35">
            </div>
            <!-- el bottom tambien necesita style para que detecte la transicion, tailwind tiene ralladisimo al navegador -->
            <div [style.transform]="this.transformStyle()" [style.bottom.rem]="(this.hoverIdx == 1) ? 1.5 : 0" (mouseenter)="this.registerHover($event)" (mouseleave)="this.unlistHover()"
                 [ngClass]="(this.carrouselIdx == 1) ? 'w-1/4 z-2 h-87/100 rounded-2xl outline-2 outline-cyan-600/30' : 'w-1/5 h-74/100 z-1 blur-[2px] rounded-xl outline-3 outline-cyan-600/30'"
                 id="card-1"
                 class="-mx-14 relative drop-shadow-[3px_6px_9px_rgba(26,26,52,0.25),6px_12px_25px_rgba(26,26,52,0.25),12px_24px_36px_rgba(26,26,52,0.25)]
                        backdrop-blur-[4px] backdrop-saturate-120 box-content bg-cover bg-no-repeat bg-center transform-gpu animated-card
                        bg-cyan-500/30 bg-radial-[at_50%_-20%] from-cyan-100/20 to-black/35">

            </div>

            <!-- Como solo tienes ahora mismo vuela21 y sporwatch pon aquí una tarjeta: '?' para proyectos que se vienen. -->
            <div [style.transform]="this.transformStyle()" [style.bottom.rem]="(this.hoverIdx == 2) ? 1.5 : 0" (mouseenter)="this.registerHover($event)" (mouseleave)="this.unlistHover()"
                 [ngClass]="(this.carrouselIdx == 2) ? 'w-1/4 z-2 h-87/100 rounded-2xl outline-2 outline-gray-600/30' : 'w-1/5 h-74/100 z-1 blur-[2px] rounded-xl outline-3 outline-gray-600/30'"
                 id="card-2"
                 class="relative drop-shadow-[3px_6px_9px_rgba(26,26,52,0.25),6px_12px_25px_rgba(26,26,52,0.25),12px_24px_36px_rgba(26,26,52,0.25)]
                        backdrop-blur-[4px] backdrop-saturate-120 box-content bg-cover bg-no-repeat bg-center transform-gpu animated-card
                        bg-gray-500/30 bg-radial-[at_50%_-20%] from-white/20 to-black/35">
            </div>
    </div>
    <!-- A veces comento en español a veces en ingles me estoy volviendo loco -->

    <!-- Lista vertical (proyectos secundarios) -->
    <div class="flex flex-col items-center text-white mt-30 ml-10 max-w-screen w-[70%] gap-y-8 justify-end">
        <!-- Grid with image and description columns -->
        <!-- NOTA: prueba a añadir borde inferior del mismo color que el fondo para dar efecto extrusión 3d -->
        <!-- Y añade sombras a los grids y quizas a la barra separadora (no es ta funcionando en este momento) -->
        <div class="grid grid-cols-[.3fr_.7fr] relative w-[80%] h-[280px] justify-items-center gap-x-17 mb-5 rounded-2xl bg-black/20 border-4 border-[#0B1726] outline-2 outline-white/5 box-border
                    bg-[radial-gradient(circle_farthest-side_at_65%_50%,rgba(25,255,255,.1)_0%,rgba(16,16,16,.15)_99%)]">

            <!--  after:shadow-[inset_0_1px_5px_0_rgba(255,255,255,.2)] -->
            <img alt="Imagen proyecto" src="https://i.redd.it/q26o6vbbgjr81.gif"
                 class="col-start-1 object-fit rounded-xl size-60 self-center"/>

            <div class="col-start-2 flex flex-col items-start w-full mt-3">
                <h2 class="font-roboto-serif text-xl"> Título </h2>
                <!-- Row with the technologies used. (I'll try 20px sizes for the PNGs) -->
                <div class="flex flex-row max-w-9/10 h-[40px] bg-white justify-center items-center">

                </div>
                <p class="font-inter"> Descripción </p>
            </div>
        </div>

        <!-- Otro grid para ver como se ven varios -->
        <!-- la vignette usa stone-700 o a lo mejor stone-800 y cyan-300/5 de fondo -->
        <!-- TODO: prueba tarjetas mas grandes para una imagen mas grande. -->
        <!-- IMPORTANTE: El primer diseño come nabo es feo de cojones sorry. -->
        <!-- dependiendo del proyecto que ponga, un color u otro de fondo, el color de fondo se craftea con un degradado y un bg-black transparente + bg-blend mode de overlay. -->
        <div class="grid grid-cols-[.3fr_.7fr] relative w-[80%] h-[280px] justify-items-center gap-x-17 mb-5 rounded-md outline-1 outline-gray-800
                    bg-[radial-gradient(circle_farthest-side_at_85%_50%,rgba(0,184,219,.15)_0%,rgba(16,16,16,.15)_90%)]
                    box-border bg-black/20 bg-blend-overlay shadow-[inset_-5px_5px_5px_0_rgba(25,25,25,.15),inset_5px_-5px_5px_0_rgba(25,25,25,.1505),inset_-5px_5px_5px_0_rgba(25,25,25,.1501),inset_5px_-5px_5px_0_rgba(25,25,25,.1501)]">

            <!--  after:shadow-[inset_0_1px_5px_0_rgba(255,255,255,.2)] -->
            <img alt="Imagen proyecto" src="https://i.redd.it/q26o6vbbgjr81.gif"
                 class="col-start-1 object-fit rounded-xl size-60 self-center"/>

            <div class="col-start-2 flex flex-col items-start w-full mt-3">
                <h2 class="font-roboto-serif text-xl"> Título </h2>
                <!-- Row with the technologies used. (I'll try 20px sizes for the PNGs) -->
                <div class="flex flex-row max-w-9/10 h-[40px] bg-white justify-center items-center">

                </div>
                <p class="font-inter"> Descripción </p>
            </div>
        </div>


        <div class="grid grid-cols-[.3fr_.7fr] relative w-[80%] h-[280px] justify-items-center gap-x-17 mb-5 rounded-md outline-1 outline-gray-800
                    bg-[radial-gradient(circle_farthest-side_at_85%_50%,rgba(170,50,50,.21)_0%,rgba(16,16,70,.15)_90%)]
                    box-border bg-black/22 bg-blend-overlay shadow-[inset_-5px_5px_5px_0_rgba(25,25,25,.15),inset_5px_-5px_5px_0_rgba(25,25,25,.1505),inset_-5px_5px_5px_0_rgba(25,25,25,.1501),inset_5px_-5px_5px_0_rgba(25,25,25,.1501)]">

            <!--  after:shadow-[inset_0_1px_5px_0_rgba(255,255,255,.2)] -->
            <img alt="Imagen proyecto" src="https://i.redd.it/q26o6vbbgjr81.gif"
                 class="col-start-1 object-fit rounded-xl size-60 self-center"/>

            <div class="col-start-2 flex flex-col items-start w-full mt-3">
                <h2 class="font-roboto-serif text-xl"> Título </h2>
                <!-- Row with the technologies used. (I'll try 20px sizes for the PNGs) -->
                <div class="flex flex-row max-w-9/10 h-[40px] bg-white justify-center items-center">

                </div>
                <p class="font-inter"> Descripción </p>
            </div>
        </div>


        <div class="grid grid-cols-[.3fr_.7fr] relative w-[80%] h-[280px] justify-items-center gap-x-17 mb-5 rounded-2xl outline-1 outline-gray-800
                    bg-[radial-gradient(circle_farthest-side_at_85%_50%,oklch(0.66_0.21_37/15%)_0%,rgba(16,16,70,.15)_95%)]
                    box-border bg-black/20 bg-blend-overlay shadow-[inset_-5px_5px_5px_0_rgba(25,25,25,.15),inset_5px_-5px_5px_0_rgba(25,25,25,.1505),inset_-5px_5px_5px_0_rgba(25,25,25,.1501),inset_5px_-5px_5px_0_rgba(25,25,25,.1501)]">
            <!-- No me interesa:
                 after:shadow-[inset_0_1px_5px_0_rgba(255,255,255,.2)]  after:content-[''] after:absolute after:-bottom-3.5 after:h-[2px] after:w-full after:shadow-[0px_2px_4px_0_rgba(25,255,255,.34)] -->

            <img alt="Imagen proyecto" src="https://i.redd.it/q26o6vbbgjr81.gif"
                 class="col-start-1 object-fit rounded-sm size-60 self-center"/>

            <div class="col-start-2 flex flex-col items-start w-full mt-3">
                <h2 class="font-roboto-serif text-xl"> Título </h2>
                <!-- Row with the technologies used. (I'll try 20px sizes for the PNGs) -->
                <div class="flex flex-row max-w-9/10 h-[40px] bg-white justify-center items-center">

                </div>
                <p class="font-inter"> Descripción </p>
            </div>
        </div>


        <div class="grid grid-cols-[.3fr_.7fr] relative w-[80%] h-[280px] justify-items-center gap-x-17 mb-5 rounded-2xl outline-1 outline-gray-800
                    bg-[radial-gradient(circle_farthest-side_at_85%_50%,oklch(62.7%_0.265_303.9/20%)_0%,rgba(16,16,70,.15)_90%)]
                    box-border bg-black/30 bg-blend-overlay shadow-[inset_-5px_5px_5px_0_rgba(25,25,25,.15),inset_5px_-5px_5px_0_rgba(25,25,25,.1505),inset_-5px_5px_5px_0_rgba(25,25,25,.1501),inset_5px_-5px_5px_0_rgba(25,25,25,.1501)]">
            <!-- No me interesa:
                 after:shadow-[inset_0_1px_5px_0_rgba(255,255,255,.2)]  after:content-[''] after:absolute after:-bottom-3.5 after:h-[2px] after:w-full after:shadow-[0px_2px_4px_0_rgba(25,255,255,.34)] -->

            <img alt="Imagen proyecto" src="https://i.redd.it/q26o6vbbgjr81.gif"
                 class="col-start-1 object-fit rounded-sm size-60 self-center"/>

            <div class="col-start-2 flex flex-col items-start w-full mt-3">
                <h2 class="font-roboto-serif text-xl"> Título </h2>
                <!-- Row with the technologies used. (I'll try 20px sizes for the PNGs) -->
                <div class="flex flex-row max-w-9/10 h-[40px] bg-white justify-center items-center">

                </div>
                <p class="font-inter"> Descripción </p>
            </div>
        </div>
</div>
