:host {
    --slider-end-transform: 3.62rem;
}

/*
    Source - https://stackoverflow.com/a
    Posted by Richrd, modified by community. See post 'Timeline' for change history
    Retrieved 2025-11-19, License - CC BY-SA 4.0
*/

/* Hay que tapa la scrollbar loco */

div {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

div::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

form > div {
    transition: left 0.375s ease-out 0.1s;
}
form > div::after {
    transition: transform 0.35s ease-out 0.1s;
    transform: translateX(var(--slider-end-transform));
}

form > label {
    transition: color 450ms ease-out 100ms;
}
/* INFO IMPORTANTE:
 * Todas aquellas transiciones entre propiedades que no cambian explícitamente su valor
 * Se tienen que hacer por 'style' en vez de 'class'
 * Por ejemplo
 * CSS no detecta la diferencia entre una clase que tiene
 * 'transform: translateX(23px)'
 * Frente a una que tiene
 * 'transform: translateX(0px)'
 *
 * en vez de usar class binding, se usa style binding.
 * Lo mismo pasa para box-shadow o drop-shadow
 *
 * Basicamente el navegador intenta optimizar la transición entre clases
 * y si ve la 'misma' propiedad en una clase añadida aunque no sea la misma
 * la ignora.
 */

 /* INFO: la clase de css animated-card existe simplemente porque transition no funciona bien con tailwind y angular. */
.animated-card {
    transition: width 300ms cubic-bezier(.4,0,1,2),
                height 300ms cubic-bezier(.4,0,1,2),
                transform 800ms cubic-bezier(.4,0,1,1),
                bottom 200ms cubic-bezier(.4,0,1,1),
                box-shadow 350ms ease-in,
                filter 200ms ease-in;

    /* sino la animacion de bottom ni va */
    bottom: 0px;

}
/* INFO: la clase de css animated-text-section existe simplemente porque transition no funciona bien con tailwind y angular.
 * en este caso es por backdrop filter, en el otro era por transform,
 * ya que cambio el valor de un saturate a otro y css no detecta eso por cambio de clases de angular
 * lo detecta por cambio de clases básicas de css. el height es que sino ya entra en conflicto jajaj
 */
.animated-text-section {
    transition: backdrop-filter 500ms ease-in-out,
                height 150ms linear;

}
