<div class="max-w-screen w-screen min-h-screen flex flex-col items-center bg-linear-to-b from-[oklch(0.17_0.07_254.86)] to-[oklch(0.16_0.05_254.67)]"> <!-- bg-[#1F1F1F] -->
    <!-- Colores antiguos del bg del body: bg-linear-to-b from-[#061426] to-[#0B1726] -->
    <app-navbar class="flex flex-row items-center justify-center h-[10vh] w-screen"></app-navbar>
    <div class="grid grid-cols-[0.75fr_0.25fr] w-screen my-10 self-start items-baseline">
        <!-- Toggle (las dimensiones las pongo para que no se estire en el contenedor si no estuviera en un grid no seria necesario)-->
        <form class="relative flex flex-row items-center justify-center outline-1 outline-[#7DF9FF] rounded-[2cm] z-0 text-xs col-start-2 place-self-center h-7.5 w-36.5 mt-1">

        <!-- Por algún extraño motivo las transiciones no las coge tailwind asi que css y palante sorry -->
        <!-- Transiciones en el css porque tailwind no las aplica
            after:transition-[transform_10s_ease-out_1000ms] transition-[left_3000000000ms_ease-out_1000ms]
            Además: after:translate-x-(--slider-end-transform) funciona pero el uso de clases de tailwind con variables por algun motivo
            hace que la transition del translate aun estando aplicada desde css y pudiendose ver en el dev tools no se aplique. por lo que al css tambien
             (Creo que es el problema que tengo en el carrusel, el navegador no detecta un mismo atributo con un cambio de valor en la variable del translateX) -->

            <!-- Slider 'knob' element  (its after is a box that makes one of the pill div sides straight and changes with position -->
            <div class="w-18 h-7.5 absolute top-0 left-0 flex flex-row items-center z-2 rounded-[2cm] bg-[#7DF9FF]
                after:content-[''] after:w-3 after:h-[inherit] after:z-3 after:relative after:bg-[#7DF9FF]
                after:block" [class.left-[74px]]="sliderState()" [class.w-[70px]!]="!sliderState()"> <!-- 70px en el estado inicial, sino ocupa demasiado el primer estado, por algun motivo necesito mas en el segundo (creo que es asimetrico shhh.)  -->
            </div>

            <label class="relative flex items-center justify-center w-18 h-7 font-bolder text-center rounded-[2cm] z-3 transition-[color_0.45s_ease-out_0.1s]"
                [class.text-[#7DF9FF]]="sliderState()" for="radio1">

                <input checked type="radio" id="radio1" name="radioGroup1" (change)="sliderOnChange($event)"
                    class="z-1 w-18 h-7 absolute appearance-none rounded-[2cm]" [ngClass]="(sliderState()) ? 'cursor-pointer' : 'cursor-auto'"/>
                Vertical
            </label>

            <label class="relative flex items-center justify-center w-18 h-7 font-bolder text-center rounded-[2cm] z-3 transition-[color_0.45s_ease-out_0.1s] text-[#7DF9FF]"
                [class.text-[#7DF9FF]]="!sliderState()" for="radio2">

                <input type="radio" id="radio2" name="radioGroup1" (change)="sliderOnChange($event)"
                    class="z-1 w-18 h-7 absolute appearance-none rounded-[2cm]" [ngClass]="(!sliderState()) ? 'cursor-pointer' : 'cursor-auto'"/>
                Horizontal
            </label>
        </form>
    </div>


    <!-- NOTA: la altura de la imagen seleccionada (la del medio) es mayor que las de los lados La anchura un poco tambien mayor pero muy poco -->
    <!-- INFO: Las animaciones de transition se llevan por la clase de css animated-card -->
    <!-- INFO: El aspect ratio de las tarjetas es casí un 4:5 perfecto. -->
    <!-- TODO: Hacer el overlay con un vídeo de los proyectos. -->
    <!-- Carrusel -->
    <div (wheel)="wheelMoveCarrousel($event)" id="carrousel"
         class="w-[92%] h-[70vh] bg-radial-[circle_farthest-side_at_50%_55%] from-[#81A9DA]/50 to-[rgba(6,20,38,0.7)] flex flex-row items-center justify-center
                transform-3d rounded-md shadow-[0_0_8px_0_hsla(213_100%_35%/.18),0_0_8px_0_hsla(213_100%_65%/.18)] inset-shadow-[0_0_14px_rgba(0,255,210,0.05)]">
    <!-- <h2 class="text-2xl/6 font-extrabold font-roboto-flex my-6 text-center bg-linear-to-r from-blue-600 to-black bg-clip-text text-transparent tracking-wide invisible"> a </h2> -->
        <img #leftArrow (click)="moveCarrousel(leftArrow)" class="absolute size-8 left-10 cursor-pointer z-100 hover:drop-shadow-[0_0_9px_rgba(255,255,255,1),0_0_9px_rgba(255,255,255,1)]"
             src="/projects/left-arrow-svgrepo-white.png" alt="flecha para mover el carrousel a la izquierda" id="left"/>
        <img #rightArrow (click)="moveCarrousel(rightArrow)" class="absolute size-8 right-10 cursor-pointer z-100 hover:drop-shadow-[0_0_9px_rgba(255,255,255,1),0_0_9px_rgba(255,255,255,1)]"
             src="/projects/right-arrow-svgrepo-white.png"  alt="flecha para mover el carrousel a la derecha" id="right"/>
        <!-- IMPORTANTE CAMBIALO DESPUES: el color de fondo variara del proyecto por supuesto no van a ser todos del mismo color.-->
        <!-- Para que las transiciones de transform funcionen tienen que hacerse por css normal, ya que el navegador no detecta un cambio de transform: translateX(valortal) a transform: translateX(valorcual)
            mediante las clases de tailwind. ya que tailwind cambia la variable de dentro del translateX y el navegador ve 'practicamente' el mismo valor. -->
            <!-- 3px 6px 9px rgba(26,26,52,0.85),6px 12px 25px rgba(26,26,52,0.85),12px 24px 36px rgba(26,26,52,0.85) -->
        <!-- (sombras que estaban en el ngClass y estoy transicionando hacia style.*:
            shadow-[0_0_8px_0_hsla(32_100%_35%/.18),0_0_8px_0_hsla(32_100%_65%/.18)] inset-shadow-[0_0_14px_hsla(32_100%_50%_/.3)] -->

        <!-- Tarjeta -->
        <div [style.transform]="this.cardTransformState()" [style.bottom.rem]="(this.hoverIdx == 0) ? 1.5 : 0"
            [style.box-shadow]="(this.carrouselIdx == 0) ? this.focusedCardShadow() : this.unfocusedCardShadow()"
            [style.filter]="(carrouselIdx == 0) ? '' : unfocusedCardFilterState()"
            [ngClass]="(this.carrouselIdx == 0)
                                ? 'w-[457px] h-[578px] z-2 rounded-2xl outline-3'
                                : 'w-[353px] h-[478px] z-1 rounded-xl outline-5 scale-90'"
            (mouseenter)="this.registerHover($event)" (mouseleave)="this.unlistHover()" (click)="this.clickMoveCarrousel($event)"
            id="card-0" class="relative box-content transform-gpu animated-card outline-orange-600/30">
            <!-- Hacian falta cuando la tarjeta era transparente backdrop-blur-[4px] backdrop-saturate-120 -->
            <!--  bg-position-[30%_20%]-->

            <div class="w-full h-full relative">
                <!-- Hero image -->
                <img src="/projects/vuela21_1_colored.png" class="w-full h-full box-border object-cover rounded-2xl animated-card top-[-1.5px] absolute"/>
                <!-- Sombra interna colorida de la imagen, no se si poner las sombras en el propio img o dejarlo aqui -->
                <div class="w-full h-full rounded-2xl absolute -top-[1.5px] z-5 transition-shadow duration-150"
                    [style.box-shadow]="(this.hoverIdx == 0) ? 'inset 0 0 34px oklch(0.7442 0.1812 56.46 / 30%)' : 'inset 0 0 14px oklch(0.7442 0.1812 56.46 / 25%)'"> </div>
                <!-- INFO: Si usas style.* la forma de definir el alpha tiene que ser la antigua, no sirve / 35% o / .35, style usa el renderer de angular y angular 19 no se lleva bien con el css color level 4-->

                <!-- Pon el modal del login, si eso monta vuela21 para sacar una imagen con la proporción correcta (4:5), luego un popover con el vídeo en 16:9 -->
                <!-- INFO: La altura real es un 75% img y un 70% de la seccion, la cambio ligeramente en algunos para adaptarla a sus diseños
                     (Ya que en algunos queda mejor que el sombreado coja el principio de la siguiente sección.) -->

                <!-- Vignette de la imagen, también aplica parte del blur, la otra parte se aplica como filter en la tarjeta -->
                <div class="absolute w-full transition-all duration-200 rounded-t-2xl"
                    [style.height.%]="(this.carrouselIdx == 0) ? 75 : 70"
                    [style.background]="(this.carrouselIdx == 0)
                            ? 'radial-gradient(circle at 50% 50%, rgba(26,26,26,.2) 0%, rgba(26,26,26,.2) 99%)'
                            : 'radial-gradient(circle at 50% 50%, rgba(26,26,26,.35) 0%, rgba(26,26,26,.42) 50%, rgba(26,26,26,.3) 99%)'"
                    [style.backdrop-filter]="(this.carrouselIdx == 0) ? '' : 'blur(1.5px)'">
                    <!-- blur dividido entre la hero img y todo el contenedor (el texto blurrea menos basicamente.) -->
                </div>

                <!-- Sección de texto -->
                <div class="flex flex-col w-full absolute bottom-0
                            bg-[linear-gradient(to_bottom,rgba(50,50,50,.35)_0%,rgba(16,16,16,.51)_90%),linear-gradient(to_bottom,transparent_1%,oklch(70.5%_0.213_47.604_/40%)_30%,oklch(70.5%_0.213_47.604_/50%)_80%)]
                            rounded-b-xl animated-text-section"

                    [style.backdrop-filter]="(this.carrouselIdx == 0) ? 'saturate(250%) blur(8px)' : 'saturate(100%) blur(8px)'" [ngClass]="(this.carrouselIdx == 0) ? 'h-5/20' : 'h-3/10'" >
                    <!-- INFO: Mira el css para la explicacion de este style...  -->

                    <h1 class="text-white text-center w-full font-roboto-serif transition-[font-size,font-weight,letter-spacing] duration-[0.3s] delay-0  z-30 mt-3.5"
                        [ngClass]="(this.carrouselIdx == 0) ? 'text-3xl font-bold tracking-wide' : 'text-2xl font-thin'">
                        Vuela21
                    </h1>

                    <p class="text-white/70 text-center mt-4 font-inter box-border px-2 transition-[font-size,font-weight] duration-250"
                    [ngClass]="(this.carrouselIdx == 0) ? 'text-lg' : 'text-sm font-thin'" >
                        Aplicación de gestión de envíos para una empresa de transportes, realizada en las prácticas.</p>
                </div>
            </div>

        </div>

        <!-- el bottom tambien necesita style para que detecte la transicion, tailwind tiene ralladisimo al navegador mira el css para la explicacion -->
        <!-- INFO: En gran parte se trata de convertir las clases bindeadas con propiedades complejas que no detecta el navegador a estilos bindeados que si detecta -->
        <div [style.transform]="this.cardTransformState()" [style.bottom.rem]="(this.hoverIdx == 1) ? 1.5 : 0"
            [style.box-shadow]="(this.carrouselIdx == 1) ? this.focusedCardShadow() : this.unfocusedCardShadow()"
            [style.filter]="(carrouselIdx == 1) ? '' : unfocusedCardFilterState()"
            [ngClass]="(this.carrouselIdx == 1)
                                ? 'w-[457px] h-[578px] z-2 rounded-2xl outline-3'
                                : 'w-[353px] h-[478px] z-1 rounded-xl outline-5 scale-90'"
            (mouseenter)="this.registerHover($event)" (mouseleave)="this.unlistHover()" (click)="this.clickMoveCarrousel($event)"

            id="card-1" class="-mx-14 relative box-content transform-gpu animated-card outline-[oklch(0.72_0.13_180_/30%)]">
            <!-- hsla(213_100%_50%/.35) -->
            <div class="w-full h-full relative">
                <!-- NOTE: Esta imagen no se pega por encima del borde  -->
                <img src="/projects/sportwatch_from_highgres_to_752x882_with_black_to_752x941.png" class="w-full h-full box-border object-cover object-[50%_0%] rounded-2xl animated-card absolute"/>
                <div class="w-full h-full rounded-2xl absolute z-5 transition-shadow duration-150"
                    [style.box-shadow]="(this.hoverIdx == 1) ? 'inset 0 0 34px oklch(0.77 0.13 180 /25%)' : 'inset 0 0 14px oklch(0.5881 0.2261 258.83 / 25%)'"> </div>
                <!-- Pon el modal del login, si eso monta vuela21 para sacar una imagen con la proporción correcta (4:5), luego un popover con el vídeo en 16:9 -->
                <div class="absolute w-full transition-all duration-200 rounded-t-2xl"
                    [style.background]="(this.carrouselIdx == 1)
                            ? 'radial-gradient(circle at 50% 50%, rgba(26,26,26,.2) 0%, rgba(26,26,26,.2) 99%)'
                            : 'radial-gradient(circle at 50% 50%, rgba(26,26,26,.35) 0%, rgba(26,26,26,.42) 50%, rgba(26,26,26,.3) 99%)'"
                    [style.height.%]="(this.carrouselIdx == 1) ? 76 : 70"
                    [style.backdrop-filter]="(this.carrouselIdx == 1) ? 'saturate(1)' : 'blur(1.5px)'">
                    <!-- blur dividido entre la hero img y todo el contenedor en el ts (el texto blurrea menos basicamente.) -->
                </div>

                <div class="flex flex-col w-full absolute bottom-0
                            bg-[linear-gradient(to_bottom,rgba(50,50,50,.35)_0%,rgba(16,16,16,.51)_90%),linear-gradient(to_bottom,transparent_1%,oklch(0.77_0.13_180_/30%)_30%,oklch(0.56_0.1_180_/_40%)_80%)]
                            rounded-b-xl animated-text-section"

                    [style.backdrop-filter]="(this.carrouselIdx == 1) ? 'saturate(250%) blur(8px)' : 'saturate(100%) blur(8px)'"
                    [ngClass]="(this.carrouselIdx == 1) ? 'h-5/20' : 'h-3/10'" >
                    <!-- INFO: Mira el css para la explicacion de este style...  -->

                    <!-- Esto era una prueba pero el blur localizado bugea la polarizacion del gradiente
                        <div class="w-full h-1/3 absolute top-0 bg-transparent backdrop-blur-s"></div> -->

                    <h1 class="text-white text-center w-full font-roboto-serif transition-[font-size,font-weight,letter-spacing] duration-[0.3s] delay-0  z-30 mt-3.5"
                        [ngClass]="(this.carrouselIdx == 1) ? 'text-3xl font-bold tracking-wide' : 'text-2xl font-thin'">
                        Sportwatch
                    </h1>

                    <p class="text-white/70 text-center mt-4 font-inter box-border px-2 transition-[font-size,font-weight] duration-250"
                    [ngClass]="(this.carrouselIdx == 1) ? 'text-lg' : 'text-sm font-thin'" >
                        Plataforma de streaming, orientada a proporcionar infraestructura a medios de deportes.
                    </p>
                </div>
            </div>
        </div>

        <!-- Como solo tienes ahora mismo vuela21 y sporwatch pon aquí una tarjeta: '?' para proyectos que se vienen. -->
        <div [style.transform]="this.cardTransformState()" [style.bottom.rem]="(this.hoverIdx == 2) ? 1.5 : 0"
            [style.box-shadow]="(this.carrouselIdx == 2) ? this.focusedCardShadow() : this.unfocusedCardShadow()"
            [style.filter]="(carrouselIdx == 2) ? '' : unfocusedCardFilterState()"
            [ngClass]="(this.carrouselIdx == 2)
                                ? 'w-[457px] h-[578px] z-2 rounded-2xl outline-3'
                                : 'w-[353px] h-[478px] z-1 rounded-xl outline-5 scale-90'"
            (mouseenter)="this.registerHover($event)" (mouseleave)="this.unlistHover()" (click)="this.clickMoveCarrousel($event)"
            id="card-2" class="relative box-content transform-gpu animated-card outline-white/15">


            <!-- TEST: algo así sería -->
            <!-- INFO: ngClass para que los font sizes encojan con la tarjeta cuando se desfocusea. -->
            <div class="w-full h-full relative">
                <!-- NOTE: Esta imagen no se pega por encima del borde  -->
                <img src="/projects/interrogation_unsplash_cropped.avif" class="w-full h-full box-border object-cover object-[50%_0%] rounded-2xl animated-card absolute"/>
                <!-- Animated text section para este div lo uso aunque no sea texto porque me hace transición en los filtros y el tamaño, exactamente lo que me hace falta -->
                <div class="w-full rounded-t-2xl absolute z-5 backdrop-blur-[3px]" [style.height.%]="(this.carrouselIdx == 2) ? 75 : 71"> </div>
                <div class="w-full h-full rounded-2xl absolute z-5 transition-shadow duration-150"
                    [style.box-shadow]="(this.hoverIdx == 2) ? 'inset 0 0 34px rgba(255,255,255,.5)' : 'inset 0 0 14px rgba(255,255,255,.25)'"> </div>
                <!-- Pon el modal del login, si eso monta vuela21 para sacar una imagen con la proporción correcta (4:5), luego un popover con el vídeo en 16:9 -->
                <div class="absolute w-full transition-all duration-150 rounded-t-2xl"
                    [style.background]="(this.carrouselIdx == 2)
                            ? 'radial-gradient(circle at 50% 50%, rgba(26,26,26,.2) 0%, rgba(26,26,26,.2) 99%)'
                            : 'radial-gradient(circle at 50% 50%, rgba(26,26,26,.35) 0%, rgba(26,26,26,.42) 50%, rgba(26,26,26,.3) 99%)'"
                    [style.height.%]="(this.carrouselIdx == 2) ? 76 : 71"
                    [style.backdrop-filter]="(this.carrouselIdx == 2) ? 'saturate(1)' : 'blur(1.5px)'">
                    <!-- blur dividido entre la hero img y todo el contenedor en el ts (el texto blurrea menos basicamente.) -->
                </div>

                <div class="flex flex-col w-full absolute bottom-0 bg-[linear-gradient(to_top,rgba(50,50,50,.35)_0%,rgba(16,16,16,.51)_90%),linear-gradient(to_top,rgba(5,5,5,.75)_10%,rgba(255,255,255,.15)_99%),radial-gradient(circle_farthest-corner_at_100%_20%,rgba(255,255,255,.25)_1%,rgba(20,20,20,.2)_75%)]
                            l
                            rounded-b-xl animated-text-section"

                    [style.backdrop-filter]="(this.carrouselIdx == 2) ? 'saturate(250%) blur(8px)' : 'saturate(100%) blur(8px)'"
                    [ngClass]="(this.carrouselIdx == 2) ? 'h-1/4' : 'h-3/10'" >
                    <!-- INFO: Mira el css para la explicacion de este style...  -->

                    <!-- Esto era una prueba pero el blur localizado bugea la polarizacion del gradiente
                        <div class="w-full h-1/3 absolute top-0 bg-transparent backdrop-blur-s"></div> -->

                    <h1 class="text-white text-center w-full font-roboto-serif transition-[font-size,font-weight,letter-spacing] duration-[0.3s] delay-0  z-30 mt-3.5"
                        [ngClass]="(this.carrouselIdx == 2) ? 'text-3xl font-bold tracking-wide' : 'text-2xl font-thin'">
                        ?
                    </h1>

                    <p class="text-white/70 text-center mt-4 font-inter box-border px-2 transition-[font-size,font-weight] duration-250"
                    [ngClass]="(this.carrouselIdx == 2) ? 'text-lg' : 'text-sm font-thin'" >
                        Estoy trabajando en un proyecto y tengo ideas para empezar otro pronto, quién sabe si acabará aquí.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- A veces comento en español a veces en ingles me estoy volviendo loco -->

    <!-- Lista vertical (proyectos secundarios) -->
    <div class="flex flex-col items-center text-white mt-30 ml-10 max-w-screen w-screen gap-y-8 items-center">
        <!-- Grid with image and description columns -->
        <!-- NOTA: prueba a añadir borde inferior del mismo color que el fondo para dar efecto extrusión 3d -->
        <!-- Y añade sombras a los grids y quizas a la barra separadora (no es ta funcionando en este momento) -->

        <!-- Otro grid para ver como se ven varios -->
        <!-- la vignette usa stone-700 o a lo mejor stone-800 y cyan-300/5 de fondo -->
        <!-- TODO: prueba tarjetas mas grandes para una imagen mas grande. -->
        <!-- IMPORTANTE: El primer diseño es feo de cojones sorry. -->
        <!-- dependiendo del proyecto que ponga, un color u otro de fondo, el color de fondo se craftea con un degradado y un bg-black transparente + bg-blend mode de overlay. -->
        <div class="grid grid-cols-[3fr_7fr] relative w-[60%] h-[280px] justify-items-center gap-x-17 mb-5 rounded-md border-b-9 border-r-9 border-b-[rgba(0,184,219,.01)] border-r-[rgba(0,184,219,.15)]
                    bg-[radial-gradient(circle_farthest-side_at_85%_50%,rgba(0,184,219,.15)_0%,rgba(16,16,16,.15)_90%)] bg-black/20 bg-blend-overlay box-border">

            <!--  after:shadow-[inset_0_1px_5px_0_rgba(255,255,255,.2)] -->
            <img alt="Imagen proyecto" src="https://i.redd.it/q26o6vbbgjr81.gif"
                 class="col-start-1 object-fit rounded-xl size-60 self-center"/>

            <div class="col-start-2 flex flex-col items-start w-full mt-3">
                <h2 class="font-roboto-serif text-xl"> Título </h2>
                <!-- Row with the technologies used. (I'll try 20px sizes for the PNGs) -->
                <div class="flex flex-row max-w-9/10 h-[40px] bg-white justify-center items-center">

                </div>
                <p class="font-inter"> Descripción </p>
            </div>
        </div>


        <div class="grid grid-cols-[.3fr_.7fr] relative w-[50%] h-[280px] justify-items-center gap-x-17 mb-5 rounded-md border-b-9 border-r-9 border-white/5
                    bg-[radial-gradient(circle_farthest-side_at_85%_50%,rgba(170,50,50,.21)_0%,rgba(16,16,70,.15)_90%)]
                    box-border bg-black/22 bg-blend-overlay shadow-[inset_-5px_5px_5px_0_rgba(25,25,25,.15),inset_5px_-5px_5px_0_rgba(25,25,25,.1505),inset_-5px_5px_5px_0_rgba(25,25,25,.1501),inset_5px_-5px_5px_0_rgba(25,25,25,.1501)]">

            <!--  after:shadow-[inset_0_1px_5px_0_rgba(255,255,255,.2)] -->
            <img alt="Imagen proyecto" src="https://i.redd.it/q26o6vbbgjr81.gif"
                 class="col-start-1 object-fit rounded-xl size-60 self-center"/>

            <div class="col-start-2 flex flex-col items-start w-full mt-3">
                <h2 class="font-roboto-serif text-xl"> Título </h2>
                <!-- Row with the technologies used. (I'll try 20px sizes for the PNGs) -->
                <div class="flex flex-row max-w-9/10 h-[40px] bg-white justify-center items-center">

                </div>
                <p class="font-inter"> Descripción </p>
            </div>
        </div>


        <div class="grid grid-cols-[.3fr_.7fr] relative w-[50%] h-[280px] justify-items-center gap-x-17 mb-5 rounded-md border-b-9 border-r-9 border-white/5
                    bg-[radial-gradient(circle_farthest-side_at_85%_50%,oklch(0.66_0.21_37/15%)_0%,rgba(16,16,70,.15)_95%)]
                    box-border bg-black/20 bg-blend-overlay shadow-[inset_-5px_5px_5px_0_rgba(25,25,25,.15),inset_5px_-5px_5px_0_rgba(25,25,25,.1505),inset_-5px_5px_5px_0_rgba(25,25,25,.1501),inset_5px_-5px_5px_0_rgba(25,25,25,.1501)]">
            <!-- No me interesa:
                 after:shadow-[inset_0_1px_5px_0_rgba(255,255,255,.2)]  after:content-[''] after:absolute after:-bottom-3.5 after:h-[2px] after:w-full after:shadow-[0px_2px_4px_0_rgba(25,255,255,.34)] -->

            <img alt="Imagen proyecto" src="https://i.redd.it/q26o6vbbgjr81.gif"
                 class="col-start-1 object-fit rounded-sm size-60 self-center"/>

            <div class="col-start-2 flex flex-col items-start w-full mt-3">
                <h2 class="font-roboto-serif text-xl"> Título </h2>
                <!-- Row with the technologies used. (I'll try 20px sizes for the PNGs) -->
                <div class="flex flex-row max-w-9/10 h-[40px] bg-white justify-center items-center">

                </div>
                <p class="font-inter"> Descripción </p>
            </div>
        </div>



        <!-- Prueba, probablemente se elimine sin coger nada. -->
        <div class="flex flex-row w-screen justify-center items-center max-w-screen h-90 gap-x-20">
            <div class="size-90 bg-black/10 flex border-r-4 border-b-4 border-r-[#29568c]/15 border-b-[#29568c]/10">
            <img alt="Imagen proyecto" src="https://i.redd.it/q26o6vbbgjr81.gif"
                class="object-fit rounded-sm size-70 self-center mx-auto my-auto"/>
            </div>
            <!-- #0B1726 -->
            <div class="flex flex-col relative w-250 h-[280px] justify-items-center rounded-md border-y-3 border-x-2 border-white/5 border-l-[rgba(0,0,0,.2)] items-center
                        bg-[radial-gradient(circle_farthest-side_at_90%_50%,oklch(48.7%_0.265_303.9/20%)_0%,rgba(10,10,10,.15)_85%)]
                        box-border bg-black/20 bg-blend-overlay shadow-[inset_-5px_5px_5px_0_rgba(25,25,25,.15),inset_5px_-5px_5px_0_rgba(25,25,25,.1505),inset_-5px_5px_5px_0_rgba(25,25,25,.1501),inset_5px_-5px_5px_0_rgba(25,25,25,.1501)]">
                <!-- No me interesa:
                    after:shadow-[inset_0_1px_5px_0_rgba(255,255,255,.2)]  after:content-[''] after:absolute after:-bottom-3.5 after:h-[2px] after:w-full after:shadow-[0px_2px_4px_0_rgba(25,255,255,.34)] -->

                <!-- <img alt="Imagen proyecto" src="https://i.redd.it/q26o6vbbgjr81.gif"
                                    class="col-start-1 object-fit rounded-sm size-60 self-center"/> -->
                <h2 class="font-roboto-serif text-xl mt-3"> Título </h2>
                <!-- Row with the technologies used. (I'll try 20px sizes for the PNGs) -->
                <div class="flex flex-row max-w-9/10 h-[40px] bg-white justify-center items-center"></div>

                <p class="font-inter"> Descripción </p>
            </div>
        </div>
    </div>
</div>
