/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* Use is only for sass but import depends on webpack or vite */
/* fontsource-variable has fonts that include all weights directly */
@import "@fontsource-variable/inter";
@import "@fontsource-variable/roboto-flex";
@import "@fontsource-variable/roboto-serif";

@theme {
    --font-inter: 'Inter Variable', sans-serif;
    --font-roboto-serif: 'Roboto Serif Variable', serif;
    --font-roboto-flex: 'Roboto Flex Variable', sans-serif;

    --color-orange-350: #FF7247;
    --color-purple-650: #8462FF;

    --breakpoint-2.5xl: 105.5rem; /* 1688px, -1 px de donde me da problema el grid en el about-me */
    /* --breakpoint-3xl:  */

    /* Animaciones About-me */
    --animate-floating-fast: floating 1.5s ease-in-out infinite;
    --animate-floating-mid: floating 2.5s ease-in-out infinite;
    --animate-floating-slow: floating 3.5s ease-in-out infinite;

    --animate-star-fast: animStar 50s linear infinite;
    --animate-star-mid: animStar 100s linear infinite;
    --animate-star-slow: animStar 150s linear infinite;

    @keyframes floating {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(0px);
        }
    }


    @keyframes animStar {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-2000px);
        }
    }

    /* Animaciones projects */
    --animate-fullyRotateImg: fullyRotateImg 15s linear infinite;

    @keyframes fullyRotateImg {
        from {
            transform: rotate3d(1, 1, -1, 40deg);
        }

        /* 50% { */
        /*     transform: rotate3d(1, 1, -1, 300deg); */
        /* } */

        to {
            transform: rotate3d(1, 1, -1, 400deg);
        }
    }
}

body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    overflow-x: hidden;
}

